.places__two-columns {
  display: grid;
  margin: 80px 0 0 0;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  row-gap: 48px;
  column-gap: 40px;
}

.places__two-columns:nth-child(1) {
  margin-top: 92px;
}
